<p><%= @stores.count %> total stores were found</p>

<ul>
  <%= @stores.each do |store| %>
    <li>Store name: <%= store.long_name %></li>
    <li>City: <%= store.city %></li>
    <li>Distance: <%= store.distance %></li>
    <li>Phone: <%= store.phone %></li>
    <li>Store type:<%= store.store_type %></li>
  <% end %>
</ul>
