<p>16 total stores were found</p>

<% @stores.each do |store| %>
  <ul class="store">
    <li>Store name: <%= store.long_name %></li>
    <li>City: <%= store.city %></li>
    <li>Distance: <%= store.distance %></li>
    <li>Phone: <%= store.phone %></li>
    <li>Store type: <%= store.store_type %></li>
  </ul>
<% end %>
